<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>号码抓取</title>
    <link rel="stylesheet" href="__CSS__/bootstrap-4.0.0-dist/css/bootstrap.min.css" />
    <script type="text/javascript" src="__JS__/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="__CSS__/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body" style="text-align: center; padding: 30px;"></div>
        </div>
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        var get_ball = function () {
            $.ajax();
        }

        setInterval("get_ball",1000);
    });
</script>
</html>